# ignoring .metadata and subdirectories
# .metadata/
# **/.metadata/.plugins/
**/.metadata/*
**/.settings/*

# This ignores all .metadata folders found in this directory
# */.metadata/*
# .metadata/*


# ignoring the Bulid files
*.ini
*.snap
*.o
