# Ignores .metadata and all subdirectories within .metadata
.metadata/
**/.metadata/.plugins/
# ignores .settings directory
.settings/
# Build Files that are modified when building project in STM32 IDE
**/Debug/

*.snap